// Win Service
// Copyright (c) 2023-2024 Grigore Stefan <g_stefan@yahoo.com>
// MIT License (MIT) <http://opensource.org/licenses/MIT>
// SPDX-FileCopyrightText: 2023-2024 Grigore Stefan <g_stefan@yahoo.com>
// SPDX-License-Identifier: MIT

#include <XYO/WinService/Library.rh>
#include <XYO/WinService/Copyright.rh>
#include <XYO/WinService/Version.rh>

XYO_PLATFORM_VERSION_INFO(XYO_WINSERVICE,"xyo-file-to-cs.dll","WinService - Convert file to C/C++ source")
